n8n/a.json
{
  "name": "Stage A",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "applicant",
          "mode": "list",
          "cachedResultName": "applicant"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.applicantId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -48,
        0
      ],
      "id": "6cdb02e0-6436-484b-9826-1091783d6a6c",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "TW2F4Vt61fInTpee",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://docs.google.com/feeds/download/documents/export/Export?id=1GfXvEF03qskDUOb24HJGojr08t9y-PIyqWnPSSbamz4",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        0
      ],
      "id": "917b649f-a673-485c-ba91-d1129f3bf5ed",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const name = $('Select rows from a table').first().json.name;\nconst template = $input.first().json.data;\n\nreturn {\n  emailContents: template.replaceAll(\"{{name}}\", name)\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        0
      ],
      "id": "8a42e1bb-0952-48b3-bdab-851ca7857e57",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Select rows from a table').item.json.email }}",
        "subject": "[IEEE-HKN] Testing",
        "message": "={{ $json.emailContents }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        576,
        0
      ],
      "id": "ffcb9ee7-7c6e-48f4-9d08-45bc945152e5",
      "name": "Send a message",
      "webhookId": "048b1ecd-94b5-475b-bc08-437e8d3c86ed",
      "credentials": {
        "gmailOAuth2": {
          "id": "S6vDJmkneAZ1KIWr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "applicantId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -256,
        0
      ],
      "id": "21791d78-71d3-487b-be66-8e62daa2ab75",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "applicantId": "nv9ZXT10-9rvvw7ZmiKei"
        }
      }
    ]
  },
  "connections": {
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "df61ed8b-25fe-4d1e-a4f6-c52ab4f05127",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "73fd005825094b3935e406c5f9b92de50252c35bfa90d87f7d29597916f5fccd"
  },
  "id": "eV4kQOaM4MTrIFvy",
  "tags": []
}