n8n/main.json
{
  "name": "Steps Automation",
  "nodes": [
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "tableName": {
          "__rl": true,
          "value": "stage_status",
          "mode": "list",
          "cachedResultName": "stage_status"
        },
        "additionalFields": {},
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -80
      ],
      "id": "5063af37-37e1-435c-88b4-50debde59782",
      "name": "Postgres Trigger",
      "credentials": {
        "postgres": {
          "id": "TW2F4Vt61fInTpee",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -80,
        -80
      ],
      "id": "6cf38779-87be-46cc-bfff-b103e3003a82",
      "name": "Wait",
      "webhookId": "ac52f145-d3c4-464a-8ae8-fc70fcbda65c"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "stage_status",
          "mode": "list",
          "cachedResultName": "stage_status"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.payload.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        128,
        -80
      ],
      "id": "51cefc66-74d4-4848-81c3-bd402abb7f92",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "TW2F4Vt61fInTpee",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10c3f078-f089-485b-b0d7-7c802bfc1018",
              "leftValue": "={{ $json.deleted_at }}",
              "rightValue": "={{null}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        -80
      ],
      "id": "c7d753e6-0331-48f6-8e0e-8a6cdde92938",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stage }}",
                    "rightValue": "A",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b8e14477-739e-4fae-9f08-de7bcd150291"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "381e3032-722a-4469-8e6b-bfae5b8afdda",
                    "leftValue": "={{ $json.stage }}",
                    "rightValue": "B",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fdde8f30-12e1-4507-90c3-3dfb0900dd76",
                    "leftValue": "={{ $json.stage }}",
                    "rightValue": "C",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cabc2fb1-5d6e-4b52-9acb-f0ef027cc04e",
                    "leftValue": "={{ $json.stage }}",
                    "rightValue": "D",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9c3457bd-06e7-448d-9f1b-33407b22d681",
                    "leftValue": "={{ $json.stage }}",
                    "rightValue": "E",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "970db690-63ba-4955-aa9c-f09e1014ac38",
                    "leftValue": "={{ $json.stage }}",
                    "rightValue": "F",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "16d30b39-e931-434a-91c8-2eb6d9bb5a66",
                    "leftValue": "={{ $json.stage }}",
                    "rightValue": "Z",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        656,
        -176
      ],
      "id": "32ecb9a5-d3bc-454a-870a-ea373443d5b7",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eV4kQOaM4MTrIFvy",
          "mode": "list",
          "cachedResultUrl": "/workflow/eV4kQOaM4MTrIFvy",
          "cachedResultName": "Stage A"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "applicantId": "={{ $json.applicant_id }}"
          },
          "matchingColumns": [
            "userId"
          ],
          "schema": [
            {
              "id": "applicantId",
              "displayName": "applicantId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        912,
        -352
      ],
      "id": "386d7013-8114-4538-bf2b-69408655976c",
      "name": "Call 'Stage A'"
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Trigger": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call 'Stage A'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Stage A'": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "efe2853f-cbd4-42f2-b2b2-451e2970a786",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "73fd005825094b3935e406c5f9b92de50252c35bfa90d87f7d29597916f5fccd"
  },
  "id": "dSeBDpRhmTnd0Orh",
  "tags": []
}