n8n/main.json
{
  "name": "Stage Automation",
  "nodes": [
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "tableName": {
          "__rl": true,
          "value": "stage_status",
          "mode": "list",
          "cachedResultName": "stage_status"
        },
        "additionalFields": {},
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTrigger",
      "typeVersion": 1,
      "position": [-1184, 272],
      "id": "195008b0-e820-4698-bb86-c58674de36b4",
      "name": "Postgres Trigger",
      "credentials": {
        "postgres": {
          "id": "ktu3cPZOlhvtphp3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-992, 272],
      "id": "3c198e78-d6e6-4dec-b25e-c8de433bdf2d",
      "name": "Wait",
      "webhookId": "ac52f145-d3c4-464a-8ae8-fc70fcbda65c"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "stage_status",
          "mode": "list",
          "cachedResultName": "stage_status"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.payload.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-784, 272],
      "id": "46a3cd5a-4783-4596-8816-9e6491bdce7b",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "ktu3cPZOlhvtphp3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10c3f078-f089-485b-b0d7-7c802bfc1018",
              "leftValue": "={{ $json.deleted_at }}",
              "rightValue": "={{null}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2d52905e-d739-4269-9de7-5a8988b5ed9d",
              "leftValue": "={{ $json.processed }}",
              "rightValue": "={{false}}",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-576, 272],
      "id": "3775209f-794d-431b-843a-c32c39eda55b",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.stage.toUpperCase() }}",
                    "rightValue": "A",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b8e14477-739e-4fae-9f08-de7bcd150291"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "381e3032-722a-4469-8e6b-bfae5b8afdda",
                    "leftValue": "={{ $json.stage.toUpperCase() }}",
                    "rightValue": "B",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fdde8f30-12e1-4507-90c3-3dfb0900dd76",
                    "leftValue": "={{ $json.stage.toUpperCase() }}",
                    "rightValue": "C",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cabc2fb1-5d6e-4b52-9acb-f0ef027cc04e",
                    "leftValue": "={{ $json.stage.toUpperCase() }}",
                    "rightValue": "D",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9c3457bd-06e7-448d-9f1b-33407b22d681",
                    "leftValue": "={{ $json.stage.toUpperCase() }}",
                    "rightValue": "E",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "970db690-63ba-4955-aa9c-f09e1014ac38",
                    "leftValue": "={{ $json.stage.toUpperCase() }}",
                    "rightValue": "F",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "16d30b39-e931-434a-91c8-2eb6d9bb5a66",
                    "leftValue": "={{ $json.stage.toUpperCase() }}",
                    "rightValue": "Z",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [-256, 176],
      "id": "43fb7ab0-3bde-4fae-a075-9229a50a9735",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eV4kQOaM4MTrIFvy",
          "mode": "list",
          "cachedResultUrl": "/workflow/eV4kQOaM4MTrIFvy",
          "cachedResultName": "Stage A"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "applicantId": "={{ $json.applicant_id }}"
          },
          "matchingColumns": ["userId"],
          "schema": [
            {
              "id": "applicantId",
              "displayName": "applicantId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [112, -224],
      "id": "d96cefb1-ce0f-4b78-9817-ff90240808a3",
      "name": "Call 'Stage A'"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [464, 176],
      "id": "9f1d37c4-2b91-4a76-b199-1515480b1e81",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "d3pwvH005RdIrKXy",
          "mode": "list",
          "cachedResultUrl": "/workflow/d3pwvH005RdIrKXy",
          "cachedResultName": "Notify"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "type": "debug",
            "contents": "={{ JSON.stringify($('Select rows from a table').item.json) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contents",
              "displayName": "contents",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [976, 256],
      "id": "0b7c3a26-2642-4fe6-9e79-72cfb3268417",
      "name": "Call 'Notify'"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE stage_status\n  SET processed = TRUE\n  WHERE id = '{{ $('Select rows from a table').item.json.id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [688, 256],
      "id": "7c0d483a-55e2-4577-a63a-aa1ddb0cd1ee",
      "name": "Set Stage Status to Processed",
      "credentials": {
        "postgres": {
          "id": "ktu3cPZOlhvtphp3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dZmda6G2AnVNAlEX",
          "mode": "list",
          "cachedResultUrl": "/workflow/dZmda6G2AnVNAlEX",
          "cachedResultName": "Stage B"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "applicantId": "={{ $('Select rows from a table').item.json.applicant_id }}"
          },
          "matchingColumns": ["applicantId"],
          "schema": [
            {
              "id": "applicantId",
              "displayName": "applicantId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [128, -48],
      "id": "7d866c79-12c3-42ec-8194-4eebf9804b68",
      "name": "Call 'Stage B'",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "c031aAzYEjgHteTX",
          "mode": "list",
          "cachedResultUrl": "/workflow/c031aAzYEjgHteTX",
          "cachedResultName": "Stage C"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": ["applicantId"],
          "schema": [
            {
              "id": "applicantId",
              "displayName": "applicantId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [128, 112],
      "id": "c5377a16-0466-43be-ba40-48244a1dca52",
      "name": "Call 'Stage C'"
    }
  ],
  "pinData": {
    "Postgres Trigger": [
      {
        "json": {
          "length": 332,
          "processId": 1003,
          "channel": "n8n_channel_195008b0_e820_4698_bb86_c58674de36b4_manual",
          "payload": {
            "id": "Tzn9h-5x2UlqXI8SJ1233k",
            "applicant_id": "yLaEqvWZcnAPhJKinvXHh",
            "assigned_by_id": "S91W9WV6G96xIEBPs3S77CZfqqiwDixx",
            "stage": "b",
            "processed": false,
            "deleted_at": null,
            "notes": null,
            "updated_at": "2025-12-30T17:55:43.983359",
            "created_at": "2025-12-30T17:55:43.983359"
          },
          "name": "notification"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Postgres Trigger": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call 'Stage A'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Stage B'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Stage C'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Call 'Stage A'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Set Stage Status to Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Stage Status to Processed": {
      "main": [
        [
          {
            "node": "Call 'Notify'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Stage B'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call 'Stage C'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a92bbf77-b12e-455b-b2a1-9cfb83ff7bf5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a4512ee6ff1563343826908b37348b9a50b106355aa863045dc80f7ac77c544c"
  },
  "id": "mqCvFoRwaUlCIJhD",
  "tags": []
}
